<div class="dashboard-container">
  <header class="dashboard-header">
    <h2>Welcome, {{ userName }}</h2>
    <div class="header-actions">
      <button class="profile-btn" (click)="handleClickProfile()">My Profile</button>
      <button class="logout-btn" (click)="handleClickLogout()" style="margin-left: 10px;">Logout</button>
    </div>
  </header>

  <section class="dashboard-content">
    <h3>Dashboard</h3>
    <p>This is my personalized dashboard page. I will expand this to show recent activities, stats, tasks, etc.</p>
  </section>
</div>

<footer>
  <p>&copy; 2025 All rights reserved.<br />Created ❤️ by Nagaraj S Kharvi</p>
</footer>
